body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

.header {
    margin-left: 20%;
    margin-right: 20%;
}

/* The main bar of the page */
.header {

}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8
}

.header-links {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: white;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    margin-bottom: 10%;
}

.header-info {
    width: 40%;
    color: #f9faf8
}

.header-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darkgrey;
}

/* The content of the page */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.card {
    display: flex;
    flex-direction: column;
    border-color: blue;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 80px;
    height: 80px;
    padding: 10%;
    border-color: aqua;
    border-style: solid;
}

/* Quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    width: 100%;
    color: #1F2937;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#quote {
    font-size: 36px;
    font-style: italic;
}

.quote-content {
    display: block;
    justify-self: center;
    align-self: center;

}

.quote-author {
    display: block;
    justify-self: flex-end;
    align-self: flex-end;
}

